body {
    font-family: Cambria, 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #030000;
}

header {
    background: #2c3e50;
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
}

header small {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    left: 20px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #105b8d;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 2rem;

}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    transition: color 0.3s;
}

.menu a:hover {
    color: #2c3e50;
}


header h1 {
    margin: 0;
    font-size: 1.5em;
}

header p {
    font-size: 1.5rem;
    margin-top: 10px;
}

main section {
    padding: 40px 20px;
    margin: auto;
}

.apropos {
    text-align: justify;
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

.skills span {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    font-size: 0.9em;
}

img {
    border-radius: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.contact_infos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}